
.main-section{
    padding-top: 100px;
}

.container{
    height: 600px;
    display: flex;
    justify-content: center;
}

.box{

    width: 100px;
    height: 100px;
    border: 1px solid black;
    text-align: center;
    line-height: 3;
    font-size: 32px;
}

.highlight{
    background-color: rgb(0, 128, 85);
}