
.main-section{
    padding-top: 100px;
}

.container{
    height: 600px;
    display: flex;
    justify-content: center;
}

.box{

    width: 100px;
    height: 100px;
    border: 1px solid black;
    text-align: center;
    line-height: 3;
    font-size: 32px;
}

//Code below using for javascript
.highlight{
    background-color: rgb(0, 221, 29);
}

.hidden{
    display: none;
}

#error-message{
    color: red;
    line-height:2;
    opacity: 0;
    img{
        position: relative;
        top: 4px;
        width: 20px;
        height:20px ;
    }
}